<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE HTML>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta charset="utf-8" name="viewport"
		content="width=device-width, initial-scale=1"
		http-equiv="X-UA-Conpatible" />
	<title>Crear Producto</title>
</h:head>
<h:body>

	<h:messages style="color : red"/>

	<h:form>
		<h:panelGrid columns="2" border="1">

			<f:facet name="header">
				<h:outputText value="Crear un producto nuevo"></h:outputText>
			</f:facet>
			
			<h:outputText value="Nombre"></h:outputText>
			<h:inputText label="El campo nombre es obligatorio" id="txtNombre" value="#{producto.nombre_prod}" required="true"></h:inputText>
			
			Categoria
			<h:selectOneMenu value="#{producto.categoria_prod}" >	
				<f:selectItems value="#{categoriaBean.obtenerCategorias()}" var="cat" itemValue="#{cat}" itemLabel="#{cat.getNombre_cat()}" >
					<h:commandButton immediate="true" style="float:right" 
							action="#{categoriaBean.crearCategoria()}" value="Nueva">
					</h:commandButton>
				</f:selectItems>
			</h:selectOneMenu>
			
			<h:outputText value="Fabricante"></h:outputText>
			<h:inputText value="#{producto.fabricante_prod}"></h:inputText>
			
			<h:outputText value="Detalle"></h:outputText>
			<h:inputText value="#{producto.detalle_prod}"></h:inputText>
			
			<h:outputText value="Descripción"></h:outputText>
			<h:inputText value="#{producto.descripcion_prod}"></h:inputText>
			
			<h:outputText value="Precio"></h:outputText>
			<h:inputText label="El campo precio es obligatorio" id="txtPrecio" value="#{producto.precio_prod}" required="true">
				<f:validateDoubleRange for="txtPrecio" minimum="0"></f:validateDoubleRange>
			</h:inputText>
			
			<h:outputText value="Stock"></h:outputText>
			<h:inputText value="#{producto.stock_prod}"></h:inputText>
			
			<f:facet name="footer">
				<h:commandButton action="#{productoBean.guardarProducto(producto)}" value="Crear"></h:commandButton>
				<h:commandButton onclick="history.go(-1); return false;" value="Atras" ></h:commandButton>
			</f:facet>
			
			
			
			
		</h:panelGrid>
	</h:form>
			
			

</h:body>
</html>