<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE HTML>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">	
<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />    
    <title>Listado de productos </title>
</h:head>
<h:body>
    <h2><h:outputText value="Lista de Productos"></h:outputText></h2>
    
    <h:form>
    <h:commandButton action="#{productoBean.crearProducto()}" value="Crear producto"></h:commandButton>
	    
	    <c:if test="#{productoBean.obtenerProductos().size() eq 0}">
              <h4 style="color:#c2c2c2"><h:outputLabel value="No hay registros para mostrar"/></h4>
        </c:if>
	   
	    <h:dataTable value="#{productoBean.obtenerProductos()}" var="prod" border="1" rendered="#{productoBean.obtenerProductos().size() gt 0 eq true}">
	    	
	    	<h:column>
	    	<f:facet name="header">Id</f:facet>
	    	<h:outputText value="#{prod.id_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Nombre</f:facet>
	    	<h:outputText value="#{prod.nombre_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Fabricante</f:facet>
	    	<h:outputText value="#{prod.fabricante_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Detalle</f:facet>
	    	<h:outputText value="#{prod.detalle_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Descripción</f:facet>
	    	<h:outputText value="#{prod.descripcion_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Categoría</f:facet>
	    	<h:outputText value="#{prod.categoria_prod.getNombre_cat()}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header"></f:facet>
	    	<h:graphicImage height="30px" width="30px" value="#{prod.categoria_prod.imagen_cat}" ></h:graphicImage>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Precio</f:facet>
	    	<h:outputText value="#{prod.precio_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Stock</f:facet>
	    	<h:outputText value="#{prod.stock_prod}"></h:outputText>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Editar</f:facet>
	    	<h:commandButton action="#{productoBean.editarProducto(prod.id_prod)}" value="Editar"></h:commandButton>
	    	</h:column>
	    	
	    	<h:column>
	    	<f:facet name="header">Eliminar</f:facet>
	    	<h:commandButton action="#{productoBean.eliminarProducto(prod.id_prod)}" value="Eliminar"></h:commandButton>
	    	</h:column>
	    </h:dataTable>
    </h:form>
    
</h:body>
</html>